html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  opacity: 0.9;
  box-sizing: border-box;
}

.bg {
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.cont {
  width: 960px;
  margin: 0 auto;
}

.navigation .navbar {
  background-color: black !important;
}
.navigation .collapse ul .nav-item a {
  color: #ffffff;
}
.navigation .navbar-text .one {
  margin: 3px 10px 0 0;
}
.navigation .navbar-text img {
  margin: -5px 5px 0 0;
}
.navigation .navbar-text span {
  color: #ffffff;
  margin-right: 80px;
}

.header_bgone {
  background-image: url("../img/run over/one.jpg");
  height: 800px;
  padding-top: 500px;
  background-size: cover;
  background-position: 0 -58px;
  background-repeat: no-repeat;
}
.header_bgone div {
  width: 100%;
  align-items: center;
}
.header_bgone div h3 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}

.header_bgtwo {
  background-image: url("../img/run over/two.jpg");
  height: 800px;
  padding-top: 300px;
  background-size: cover;
  background-position: 0 -58px;
  background-repeat: no-repeat;
}
.header_bgtwo div {
  width: 100%;
  align-items: center;
}
.header_bgtwo div h3 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}

header .carousel .carousel-control-prev .carousel-control-prev-icon, header .carousel .carousel-control-prev .carousel-control-next-icon, header .carousel .carousel-control-next .carousel-control-prev-icon, header .carousel .carousel-control-next .carousel-control-next-icon {
  display: none;
}

.snowbords, .features {
  height: 1120px;
  text-align: center;
  padding-top: 150px;
  background-color: #ffffff;
}
.snowbords h3, .snowbords h6, .snowbords h4, .features h3, .features h6, .features h4 {
  text-transform: uppercase;
  margin: 0;
}
.snowbords h3, .features h3 {
  font-size: 48px;
  font-weight: bold;
  color: #000000;
}
.snowbords h4, .features h4 {
  font-weight: 700;
}
.snowbords h6, .features h6 {
  font-size: 14px;
  font-weight: 400;
  margin: 30px 0;
}
.snowbords .arrow, .snowbords .arrow, .features .arrow, .features .arrow {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}
.snowbords .arrow span, .snowbords .arrow span, .features .arrow span, .features .arrow span {
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: #000000;
  left: 0;
  top: 13px;
}
.snowbords .arrow span:first-child, .snowbords .arrow span:first-child, .features .arrow span:first-child, .features .arrow span:first-child {
  transform: rotate(-45deg);
}
.snowbords .arrow span:last-child, .snowbords .arrow span:last-child, .features .arrow span:last-child, .features .arrow span:last-child {
  transform: rotate(45deg);
}
.snowbords .carousel, .features .carousel {
  margin: 100px 0 50px 0;
}
.snowbords .carousel-inner .carousel-item .img, .features .carousel-inner .carousel-item .img {
  height: 405px;
  width: 170px;
  margin: 0 auto;
}
.snowbords .carousel-inner .carousel-item .imgone, .features .carousel-inner .carousel-item .imgone {
  background-image: url("../img/snowbords/snow1.png");
}
.snowbords .carousel-inner .carousel-item .imgtwo, .features .carousel-inner .carousel-item .imgtwo {
  background-image: url("../img/snowbords/snow2.png");
}
.snowbords .carousel-inner .carousel-item .imgthree, .features .carousel-inner .carousel-item .imgthree {
  background-image: url("../img/snowbords/snow3.png");
}
.snowbords .carousel-inner .carousel-item .imgfour, .features .carousel-inner .carousel-item .imgfour {
  background-image: url("../img/snowbords/snow4.png");
}
.snowbords .carousel-inner .carousel-item .imgfive, .features .carousel-inner .carousel-item .imgfive {
  background-image: url("../img/snowbords/snow5.png");
}
.snowbords .carousel .carousel-control-prev .carousel-control-prev-icon, .snowbords .carousel .carousel-control-prev .carousel-control-next-icon, .snowbords .carousel .carousel-control-next .carousel-control-prev-icon, .snowbords .carousel .carousel-control-next .carousel-control-next-icon, .features .carousel .carousel-control-prev .carousel-control-prev-icon, .features .carousel .carousel-control-prev .carousel-control-next-icon, .features .carousel .carousel-control-next .carousel-control-prev-icon, .features .carousel .carousel-control-next .carousel-control-next-icon {
  width: 200px;
  height: 200px;
  background-color: #d0d0d0;
  border-radius: 50%;
}
.snowbords .carousel .carousel-control-prev .carousel-control-prev-icon span, .snowbords .carousel .carousel-control-prev .carousel-control-next-icon span, .snowbords .carousel .carousel-control-next .carousel-control-prev-icon span, .snowbords .carousel .carousel-control-next .carousel-control-next-icon span, .features .carousel .carousel-control-prev .carousel-control-prev-icon span, .features .carousel .carousel-control-prev .carousel-control-next-icon span, .features .carousel .carousel-control-next .carousel-control-prev-icon span, .features .carousel .carousel-control-next .carousel-control-next-icon span {
  width: 100px;
  height: 5px;
}

.the_mountains {
  background-image: url("../img/the mountains/bg image1.jpg");
  height: auto;
  padding: 250px 0 208px 0;
  background-size: cover;
  background-position: center;
}
.the_mountains .cont h3 {
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 80px 0;
  width: 400px;
}
.the_mountains .cont p {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}
.the_mountains .cont .first {
  margin: 0 0 45px 0;
}

.features {
  background-color: #ffffff;
  height: auto;
  padding: 120px 0 100px 0;
}
.features .cont {
  width: 100%;
}
.features .cont h3 {
  margin-bottom: 30px;
}
.features .card_item {
  margin: 80px 0 0 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.features .card_item .card {
  border: none;
  box-shadow: none;
  margin: 70px 0 0 10px;
}
.features .card_item .card .card-body p {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

footer {
  height: auto;
  background-color: #000000;
  padding: 80px 0 8px 0;
  align-items: center;
}
footer .footer_content {
  justify-content: space-evenly;
  flex-wrap: wrap;
}
footer .footer_content div {
  margin: 30px 0 0 0;
  align-items: left;
  width: 300px;
}
footer .footer_content .products h3, footer .footer_content .about h3, footer .footer_content .customer_support h3 {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}
footer .footer_content .products span, footer .footer_content .about span, footer .footer_content .customer_support span {
  color: #c9c9c9;
}
footer .footer_content .customer_support h3 {
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
footer .footer_content .form_div h3 {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}
footer .footer_content .form_div input {
  width: 160px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0 10px 15px;
  border: none;
  vertical-align: middle;
}
footer .footer_content .form_div button {
  height: 41px;
  width: 60px;
  border: none;
  vertical-align: middle;
  margin-left: -4px;
  font-weight: bolder;
  background-color: #c7c7c7;
  font-family: "Roboto", sans-serif;
}
footer .footer_content .form_div ul {
  list-style: none;
  display: flex;
  margin: 60px 0 0 0;
  padding: 0;
}
footer .footer_content .form_div ul li {
  margin-right: 37px;
}
footer .footer_content .form_div ul li a {
  color: #ffffff;
  text-decoration: none;
}
footer .footer_down {
  justify-content: space-around;
  margin-top: 60px;
}
footer .footer_down span {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 1300px) {
  .header_bgone {
    padding-top: 200px;
  }
}
@media screen and (max-width: 960px) {
  .cont {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .header_bgone div h3, .header_bgone div h3 {
    font-size: 35px;
  }
}
@media screen and (max-width: 400px) {
  .the_mountains .cont h3 {
    font-size: 30px;
    width: 100%;
    text-align: center;
  }

  .snowbords h3 {
    width: 100%;
    font-size: 28px;
  }
}

/*# sourceMappingURL=style.css.map */
